/* NAVIGATION - ALL PAGES*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    /*background-color: #fdfdd2;*/

     /*background-color: azure;*/
     padding: 10px 50px 10px 50px;
 }
 
 .navbar-logo img{
    margin-top: 10px;
     max-height: 130px;
 }
 
 .page-links li {
     list-style: none;
     display: inline;
     margin: 15px;
     font-weight: 500;
     text-transform: uppercase;
 }
 @media screen and (max-width: 600px) {
 
 }
 .page-links a {
     text-decoration: none;
     color: black;
 }
 .page-links a:hover, .page-links .current{
     text-decoration: underline;
     text-decoration-color: black;
     text-decoration-thickness: 2px;
 }
 .store-locator {
    /*background-color: #fdfdd2;*/
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: center;
    border-top: 1px;
    border-top-style: solid;
 }
 .page-links img {
    max-height: 20px;
    padding-right: 5px;
    padding-bottom: 3px;
 }
 hr {
     margin-bottom: 0;
 }
 /* END OF NAVIGATION */

 /*START OF HOME PAGE*/
.card.text-center {
   margin-left: 30px; 
   margin-right: 30px;
}

.banner {
   margin: 30px 0 30px 0;
   padding: 40px 0 20px 0;
   text-transform: capitalize;
   text-align: center;
}

.banner h4 {
   font-size: 35px;
   font-weight: 800;
   /*text-decoration: underline;
   text-underline-offset: 15px;*/
}

span {
   text-decoration: underline;
   text-decoration-color: red;
   text-underline-offset: 10px;
}

.card-deck {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    gap: 20px;
}

#confections, #meat, #dairy {
    font-size: 25px;
}
 .card-title {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
 }
 .card-text {
    font-size: 20px;
    font-weight: 400;
 }
 .card-img {
    opacity: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: auto;

 }
 #order {
    font-weight: 500;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

 }
 .btn.btn-dark {
    font-weight: 500;
    margin: 10px 0 20px 0;
    padding: 10px;
 }
 .card-img-overlay {
    margin: 20px 0 0 30px;
 }

 /* START OF PRODUCTS PAGE*/
.groceries {
   width: 100%;
   overflow: hidden;
}
 .coupon-banner {
   background: rgba(255, 157, 0, 0.358);
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
}
.coupons {
   font-weight: 500;
   text-transform: uppercase;
}
.download {
   font-weight: bold;
}
 .browse {
   margin-top: 40px;
   margin-left: 60px;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 30px;
}

 #category-output, #all-output {
   margin: 0px 70px 70px 70px;
}
select {
   margin-top: 20px;
   margin-left: 60px;
}

#category-dropdown {
   margin-top: 10px;
}

#productCard {
display: flex;
justify-content: space-evenly;
margin: 10px 10px 20px 10px;
}

#productCardTitle {
   font-size: 20px;
}

.view-product-btn {
   border-color: black;
   border-style: solid;
   padding: 5px 10px 5px 10px;
   border-radius: 8px;
   text-decoration: none;
   color: black;
   font-weight: 500;
   font-size: 13px;
}
 /* END OF PRODUCTS PAGE*/

 /* START OF DETAILS PAGE*/
.product {
   margin-left: 80px;
   margin-top: 30px;
}
#productSupplier {
   font-size: 20px;
}
#productTitle {
   font-size: 50px;
}
.stock {
   font-size: 17px;
   font-weight: 600;
   text-decoration: none;
}
.cart-btn {
   border-color: black;
   border-style: solid;
   padding: 5px 10px 5px 10px;
   border-radius: 8px;
   text-decoration: none;
   color: black;
   font-weight: 500;
   font-size: 18px;
   margin-bottom: 20px;
}
 /* END OF DETAILS PAGE*/